[submodule "packages/knowfox/core"]
	path = packages/knowfox/core
	url = git@github.com:knowfox/core.git
[submodule "packages/knowfox/crud"]
	path = packages/knowfox/crud
	url = git@github.com:knowfox/crud.git
[submodule "packages/knowfox/frontend"]
	path = packages/knowfox/frontend
	url = git@github.com:knowfox/frontend.git
