/*
 * Tailwind for the default Laravel Jetstream views. 
 * This will get phased out at some point.
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*
 * UIKit 3 is our main UI framework
 */ 

// 1. Your custom variables and variable overwrites.
$global-link-color: #DA7D02;

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";

// InscrybMDE
@import "inscrybmde/dist/inscrybmde.min.css";

// Selectize
@import "selectize/dist/css/selectize";
//@import "selectize/dist/css/selectize.default";
@import "node_modules/selectize/dist/css/selectize.bootstrap3";

html {
    /* Background image: A fox */
    background: url('/img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* Sticky footer */
    position: relative;
    min-height: 100%;
}

body {
    font-family: Hack, monospace;
    font-size: 14px;
    line-height: 1.6;
    color: #636b6f;
    background-color: #f5f8fa;
}

.uk-background-default {
    background-color: rgba(255, 255, 255, 0.8);
}

.uk-breadcrumb img {
    height: 20px;
}